NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-publishable-key
STRIPE_PUBLISHABLE_KEY=pk_test_51TvGMRE90ypJPHz59vXgeUmNeWwuMmHtnv1qn8K0o6UQzw85pAVTJM3J3BfEfaaF9FQbwSzMVbWQgZm1odfVO2Vk006E3oVYqT
