NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-publishable-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
STRIPE_PUBLISHABLE_KEY=pk_test_51TvGMRE90ypJPHz59vXgeUmNeWwuMmHtnv1qn8K0o6UQzw85pAVTJM3J3BfEfaaF9FQbwSzMVbWQgZm1odfVO2Vk006E3oVYqT
STRIPE_SECRET_KEY=sk_live_or_test_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
FIRECRAWL_API_KEY=fc_your_server_only_key
